* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: aqua;
}

.cards {
  display: grid;
  width: 60dvw;
  height: 100dvh;
  grid-template-columns: 25% 75%;
  place-content: center;
}

.header-cards {
  border: 5px solid black;

  & img {
    max-width: 50%;
  }
}

.header-back-card {
  border: 5px solid rgb(189, 6, 6);
}

.container-cards {
  border: 10px solid orange;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border: 1px solid yellowgreen;
}

/*-------------------------Responsive < 768px-----------------------*/
@media (width < 768px) {
  .header-cards {
  }

  .container-main {
    display: block;
  }
  .card {
    margin: 20px;
  }

  .container-cards {
    display: block;
  }

  .cards {
    display: block;
    margin: 0 auto;
    height: inherit;
  }

  .card-6 {
    margin-bottom: 50px;
  }
}
