* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100dvw;
  background: aqua;
}

.cards {
  display: grid;
  width: 60dvw;
  height: 100dvh;
}

.header-cards {
  border: 5px solid black;
}

.header-back-card {
  border: 5px solid rgb(189, 6, 6);
}

.container-cards {
  border: 10px solid orange;
}

.card {
  border: 1px solid yellowgreen;
}

/*-------------------------Responsive < 768px-----------------------*/
@media (width < 768px) {
  .header-cards {
    margin: 50px 20px 0 20px;
  }

  .container-main {
    display: block;
  }
  .card {
    margin: 20px;
  }

  .cards {
    display: block;
  }

  .card-6 {
    margin-bottom: 50px;
  }
}
